* {
  box-sizing: border-box;
}

/* :root và html là một, có thể chỉ dùng html hoặc :root thôi cũng được, trường hợp ở đây thì dùng luôn cả hai, dùng :root chuyên để đặt biến, tùy mình code chọn dùng 1 trong 2 hoặc cả hai */
:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  /* Fallback - dự phòng --> thêm sans-serif nếu trường hợp font Poppins ko active */
}
/* Common - Thành phần dùng chung */
a {
  text-decoration: none;
}
.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.9;
}

/* =============== Header ==================*/
.header {
  position: relative;
  background: #e6f0ff;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar ul a {
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 8px 14px;
  /* tăng vùng bấm --> đặt padding trên dưới là 8px */
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .action {
  margin-left: auto;
}

.navbar .action-link {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-color);
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
}

.hero {
  margin-top: 130px;
}

.hero .infor {
  width: 51%;
}

.hero .sub-title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.018rem;
  color: #687690;
}

.hero .title {
  margin-top: 8px;
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7.6rem; /* 118.75% */
}

.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
}

.hero-cta {
  min-width: 170px;
  margin-top: 40px;
}

.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}
